@model HowHappy_Web.ViewModels.ResultViewModel
@{
    ViewData["Title"] = "How is everyone feeling?";
    ViewData["ThemeColour"] = Model.ThemeColour;
}

<div class="row">
    <div id="result-cont" class="col-md-12">
        <h1>How </h1> 
        <form asp-action="Result" enctype="multipart/form-data" id="emotionSelect">
            <select asp-for="Emotion" asp-items="@Model.Emotions" onchange="this.form.submit()"></select>
        </form> <i id="resultEmoji" class="fa @Model.FAEmotionClass fa-lg"></i>
        <h2>We found <strong>@Model.Faces.Count</strong> faces. <a href="/" class="btn btn-default">Try again?</a></h2> 
        <i id="spinner" class="fa fa-circle-o-notch fa-spin fa-5x"></i>
        <div id="cont">
            <div id="image-cont">
                <img src="@Model.ImagePath" alt="A photo of faces" />
                @foreach (var face in Model.Faces)
                {
                    float leftPercentage = ((float)face.faceRectangle.left /Model.ImageWidth) *  100;
                    float topPercentage = ((float)face.faceRectangle.top / Model.ImageHeight) * 100;
                    float widthPercentage = ((float)face.faceRectangle.width / Model.ImageWidth) * 100;
                    float heightPercentage = ((float)face.faceRectangle.height / Model.ImageHeight) * 100;

                    <style type="text/css">

                        #cont 
                        {
                            max-width:@(string.Format(Model.ImageWidth + "px;"));
                            max-height:@(string.Format(Model.ImageHeight + "px;"));
                            width:100%;
                            height:100%;
                        }

                        #rect-@Model.Faces.IndexOf(face)
                        {
                            left:@(string.Format(leftPercentage + "%;"));
                            top:@(string.Format(topPercentage + "%;"));
                            width:@(string.Format(widthPercentage + "%;"));
                            height:@(string.Format(heightPercentage + "%;"));
                        }

                        #rank-@Model.Faces.IndexOf(face)
                        {
                            top:-25px;
                            max-width:100%;
                        }

                        #detail-@Model.Faces.IndexOf(face)
                        {
                            left:@(string.Format(leftPercentage + widthPercentage + "%;"));
                            top:@(string.Format((topPercentage) + "%;"));
                        }

                        .rect {
                            border-color: #@Model.ThemeColour;
                        }

                        .rank {
                            color: #@Model.ThemeColour;
                        }

                        .popover-title {
                            background-color: #@Model.ThemeColour;
                        }
                    </style>
                    <div id="rect-@Model.Faces.IndexOf(face)" class="rect" data-toggle="popover" data-html="true" data-trigger="click" data-container="body" title="How is #@(Model.Faces.IndexOf(face)+1) feeling?" data-content="Happiness: @face.scores.happinessDisplay<br>Fear: @face.scores.fearDisplay<br>Anger: @face.scores.angerDisplay<br>Contempt: @face.scores.contemptDisplay<br>Disgust: @face.scores.disgustDisplay<br>Neutral: @face.scores.neutralDisplay<br>Sadness: @face.scores.sadnessDisplay<br>Surprise: @face.scores.surpriseDisplay">
                        <div id="rank-@Model.Faces.IndexOf(face)" class="rank">#@(Model.Faces.IndexOf(face) + 1)</div>
                    </div>
                    
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#spinner').css({ 'display': 'none' });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(function () {

            var options = {
                placement: function (context, source) {
                    var position = $(source).position();
                    console.log($(window).width() - position.left);
                    if (($(window).width() - position.left) > 166) {
                        return "right";
                    } else {
                        return "left";
                    }
                }
            };

            $('[data-toggle="popover"]').popover(options);
        });

    </script>
}





